@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Order", "Health", FormMethod.Post))
{
    <div class="container">
        <img src="~/Content/Image/Image2.jpg" width="200" height="40" alt="Snow">
        <button class="btn" name="start">Start Order</button>
    </div>
}