
@{
    ViewBag.Title = "InitalPage";
}

@using (Html.BeginForm("Index", "Order", FormMethod.Post))
{
    <div class="container">
        <img src="~/Content/Image/Image2.jpg" alt="Snow">
        <button class="btn">Add Order</button>
    </div>
}