@model PagedList.IPagedList<Health.Models.Medicine>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


<form>
    <center>
        <div class="input-group input-group-sm mb-3 " align="center">
            <div class="input-group-prepend text-center">
                <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
            </div>
            <input type="text" class="form-control" name="name" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
    </center>

    <center>
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend text-center">
                <span class="input-group-text" id="inputGroup-sizing-sm">Address</span>
            </div>
            <input type="text" class="form-control" name="address" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
    </center>

    <center>
        <div class="input-group input-group-sm mb-3 ">
            <div class="input-group-prepend text-center">
                <span class="input-group-text" id="inputGroup-sizing-sm">Nit</span>
            </div>
            <input type="text" class="form-control" name="nit" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
    </center>
</form>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div>
    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModal">Add Medicine</button>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group input-group-sm mb-3" align="center">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Search</span>
                    </div>
                    <input type="text" class="form-control" name="search" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>

                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Quantity</span>
                    </div>
                    <input type="text" class="form-control" name="quantity" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                </div>
                <br>
                <label for="Name">Name:</label>
                <input type="text" id="Name" name="Name" />
                <br>
                <label for="Name">Description:</label>
                <input type="text" id="Description" name="Description" />
                <br>
                <label for="Name">Producer:</label>
                <input type="text" id="Producer" name="Producer" />
                <br>
                <label for="Name">Price:</label>
                <input type="text" id="Price" name="Price" />
                <br>
                <label for="Name">Stock:</label>
                <input type="text" id="Stock" name="Stock" />
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default">Add</button>
            </div>
        </div>
    </div>

</div>

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Medicine</th>
                <th scope="col">Description</th>
                <th scope="col">Producer</th>
                <th scope="col">Price</th>
                <th scope="col">Stock</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>

        </tbody>
    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, currentFilter = ViewBag.CurrentFilter }))
</div>





